.navBar{
    background: #f5f5f5;
    font-weight: 500;
    .btn{
        background-color: #eaeaea;
        border: .1rem solid #ccc;
        border-radius: .1rem;
    }
    .hide{
        display: none;
    }
}